<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/logincheck}" class="form" id="login-form" method="post">
            <h2 class="titulo">Inicia sesión</h2>
            <label>
                <input type="email" name="email" th:value="${email}" required class="input" />
                <span>Email</span>
            </label>
            <label>
                <input type="password" name="password" required class="input" />
                <span>Contraseña</span>
            </label>
            <button type="submit" >
                Iniciar Sesión
            </button>
        </form>
    </body>
</html>
